.notF-page {
    display: flex;
    max-width: 100rem;
    height: 100vh;
    margin: auto;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.notF-page h1 {
    font-size: 2rem;
}

.notF-page img {
    max-height: 36rem;
    max-width: 50rem;
    display: block;
}

@media screen and (max-width: 700px) {
    .notF-page h1 {
        margin-bottom: 4rem;
    }
    .notF-page img {
        max-width: 30rem;
    }
}

@media screen and (max-width: 320px) {
    .notF-page h1 {
        font-size: 1.5rem;
        margin-bottom: 4rem;
    }
    .notF-page img {
        max-width: 20rem;
    }
}